IP=192.168.0.9
ImageWidth=1920
ImageHeight=1088
Preset=FULLHD
FPS=25
JPEGQuality=85
ColorMode=RGB
Exposure=0.03333
AutoExposure=false
RecordFormat=MOV
Gain=2.0
WB=TUNGSTEN
WB_Factor_R=1.1286
WB_Factor_G=1.0
WB_Factor_B=2.3317
WB_Factor_GB=1.0
ImageOrientation=LANDSCAPE
ImageFlip=NONE
Gamma=0.5
Gammapreset=LINEAR
Blacklevel=10
PhotoColorMode=JP4
PhotoResolution=FULL
PhotoQuality=100
AllowCaptureStillWhileRecording=false
GuidesCenterX=true
GuidesOuterX=true
GuidesThirds=false
GuidesSafeArea=false
CoringIndex=327685
FrameSkip=0
SecondsSkip=0
AllowSlowShutter=false
MultiCameraRecordingStartDelay=5.0
DisableLiveVideo=false
MovieMaxChunkSize=2000
MovieMaxChunkDuration=1800
MovieMaxChunkFrames=50000
SingleCameraName=%null
MasterCameraName=A-Left
SlaveCameraName=B-Right
